body {
  padding: 80px;
  font-family: system-ui, "Segoe UI", Tahoma;
  color: #fff;
  background: #56CCF2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section {
  margin: 50px 0;
}

img {
  display: block;
  margin-top: 10px;
}


/*Define general common styling for buttons*/

.button-1, .button-2 {
  display: block;
  color: #fff;
  width: 200px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
}


/*Define specific styling for buttons*/

.button-1 {
  background: #4AC29A;
  /*CSS transitions*/
  transition-property: background;
  transition-duration: .5s;
}

.button-1:hover {
  background: #45B649;
}

.button-2 {
  background: #4568DC;
  transition-property: background, width, border-radius;
  transition-duration: .5s;
}

.button-2:hover {
  background: #B06AB3;
  width: 250px;
  border-radius: 10px;
}


/*CSS Transforms*/


/*1. Rotate Image*/

.dog {
  transform: rotate(0);
  transition: transform .5s;
}

.dog:hover {
  transform: rotate(45deg);
}


/*2. SkewX Image*/

.child {
  transform: skewX(0);
  transition: transform .5s;
}

.child:hover {
  transform: skewX(10deg);
}


/*3. SkewY Image*/

.child-2 {
  transform: skewY(0);
  transition: transform .5s;
}

.child-2:hover {
  transform: skewY(10deg);
}


/*4. Scale Image*/

.norway, .norway-2 {
  transform: scale(1);
  transition: transform .5s;
}

.norway:hover, .norway-2:hover {
  transform: scale(1.5);
}


/*Change the transform origin */

.norway-2 {
  transform-origin: 0 0;
}


/*TranslateX*/

.fox {
  transform: translateX(0);
  transition: transform .5s;
}

.fox:hover {
  transform: translateX(100px);
}


/*TranslateY*/

.fox-2 {
  transform: translateY(0);
  transition: transform .5s;
}

.fox-2:hover {
  transform: translateY(100px);
}


/* 3D Transforms*/

.space-container {
  perspective: 1000px;
}

.space {
  transition: transform .5s;
}

.space:hover {
  transform: rotateY(180deg);
}

.space-3d {
  transition: transform .5s;
}

.space-3d:hover {
  transform: rotate3d(1, 1, 1, 65deg);
}
