/*Styling of the square*/

.square {
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  background-color: tomato;
  top: 0;
  left: 0;
  animation-name: bram;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}


/*Make animation*/

@keyframes bram {
  0% {
    background-color: tomato;
    left: 0;
    border-radius: 0;
  }
  25% {
    background-color: aqua;
  }
  50% {
    background-color: DarkViolet;
  }
  75% {
    background-color: GreenYellow;
  }
  100% {
    background-color: MediumSpringGreen;
    left: 100%;
    border-radius: 50%;
  }
}
