body {
  animation-name: bram;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bram {
  0% {
    background-color: tomato;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: purple;
  }
  75% {
    background-color: blue;
  }
  100% {
    background-color: black;
  }
}

@-webkit-keyframes bram {
  0% {
    background-color: tomato;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: purple;
  }
  75% {
    background-color: blue;
  }
  100% {
    background-color: black;
  }
}

@-o-keyframes bram {
  0% {
    background-color: tomato;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: purple;
  }
  75% {
    background-color: blue;
  }
  100% {
    background-color: black;
  }
}

@-moz-keyframes bram {
  0% {
    background-color: tomato;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: purple;
  }
  75% {
    background-color: blue;
  }
  100% {
    background-color: black;
  }
}

@keyframes ibram {
  0% {
    background-color: tomato;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: purple;
  }
  75% {
    background-color: blue;
  }
  100% {
    background-color: black;
  }
}
