/*This is a class to clear floats*/

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}


/*Main style*/

body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
}


/*This is the css for the header*/

header {
  background-image: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 891px;
  padding: 50px 80px;
}

header nav {
  display: block;
  float: right;
}

.purple-button {
  display: inline-block;
  text-decoration: none;
  background-color: #835fa8;
  color: #ffffff;
  height: 45px;
  border-radius: 24px;
  padding: 0 30px;
  line-height: 45px;
  font-weight: 600;
  font-size: 15px;
  margin: 0 15px;
}

.search-container {
  float: left;
  position: relative;
}

#search-field {
  outline: none;
  height: 45px;
  background-color: #343c48;
  border: none;
  width: 200px;
  padding: 0 30px;
  border-radius: 22px;
  color: #9da5b0;
  font-size: 14px;
}

.fa-search {
  position: absolute;
  top: 0;
  right: 20px;
  line-height: 45px;
  color: #b2b2b2;
}

.fa-diamond {
  font-size: 40px;
  color: pink;
}

.fa-bars {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

#intro {
  width: 621px;
  float: right;
  margin: 270px 230px 0 0;
}

#intro h1 {
  font-size: 70px;
  line-height: 90px;
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 30px;
}

#intro p {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
}

#section-1 {
  padding: 106px 200px 207px 200px;
  background-color: #835fa8;
  position: relative;
}

#section-1-text {
  width: 464px;
}

#section-1 h2 {
  margin-bottom: 24px;
}

#section-1 p {
  font-size: 16px;
  color: #ffffff;
  line-height: 26px;
  margin-bottom: 35px;
}

.green-button {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background-color: #3dd2ae;
  height: 45px;
  line-height: 45px;
  border-radius: 22px;
  padding: 0 50px;
}

.green-button::before {
  font-family: 'FontAwesome';
  content: '\f06e';
}

#iphone {
  position: absolute;
  height: 608px;
  top: -100px;
  right: 250px;
  overflow: hidden;
  z-index: 2;
}

#interface {
  position: absolute;
  height: 267px;
  bottom: 0;
  right: 593px;
  overflow: hidden;
  z-index: 1;
}

#section-2 {
  background-color: #f4f8fb;
  padding: 80px 200px 110px 200px;
}

#section-2 .col {
  width: 31.6666666667%;
  float: left;
}

#section-2 .col h3 {
  font-size: 30px;
  color: #2b303b;
  font-weight: 300;
  margin-bottom: 35px;
}

#section-2 .col-2 {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#section-2 .col .subtitle {
  font-size: 20px;
  color: #696f7c;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 40px;
}

#section-2 .col .main-text {
  font-size: 14px;
  color: #44484f;
  line-height: 28px;
  margin-bottom: 40px;
}

#section-3 {
  background-color: #232831;
  text-align: center;
  padding: 100px 200px 0;
}

#section-3 h2 {
  margin-bottom: 30px;
}

#section-3 p {
  color: #9da5b0;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 90px;
}

#design-container {
  position: relative;
}

#design-container a {
  height: 58px;
  line-height: 58px;
  position: absolute;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  letter-spacing: 0.75px;
  border: 2px solid #ffffff;
  padding: 0 30px;
  top: 50%;
  left: 50%;
  display: inline-block;
  /*How to center elements vertically & horizontally when position absolute */
  /*https://css-tricks.com/centering-percentage-widthheight-elements/*/
  transform: translate(-50%, -50%);
}

#design-container a:hover {
  color: pink;
  border-color: pink;
}

#section-4 {
  background-color: #2b303b;
  padding: 80px 200px;
}

#section-4 .col {
  width: 20%;
  float: left;
  margin-right: 6.6666666667%;
}

#section-4 .last-col {
  margin-right: 0;
}

#section-4 .col h3 {
  color: #ffffff;
  font-size: 20px;
  margin: 30px 0 25px;
}

#section-4 .col h3 span {
  color: #3a4d60;
}

#section-4 .col p {
  color: #9da5b0;
  font-size: 14px;
  line-height: 26px;
}

#section-5 {
  overflow: hidden;
  background-color: #e9eef1;
}

#section-5 .col-1 {
  float: left;
  width: 50%;
  padding: 100px 200px;
  box-sizing: border-box;
  /*background-color: #e9eef1;*/
}

#section-5 .col-1 h4 {
  font-size: 40px;
  font-weight: 300;
  color: #696f7c;
  margin-bottom: 30px;
}

#section-5 .col-1 h4::before {
  content: '\f0ed';
  color: yellow;
  font-family: 'FontAwesome';
}

#section-5 .col-1 .fa-cloud-download {
  color: #b1a0c9;
}

#section-5 .col-1 .subtitle {
  font-size: 20px;
  color: #696f7c;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 35px;
}

#section-5 .col-1 .subtitle::first-letter {
  font-size: 40px;
}

#section-5 .col-1 .main {
  font-size: 14px;
  line-height: 28px;
  color: #44484f;
}

#section-5 .col-1 .main::first-line {
  font-weight: 600;
}

#section-5 .col-2 {
  width: 50%;
  float: left;
}

#section-6 {
  height: 758px;
  background-image: url('../images/pen.jpg');
}

#section-6 .purple {
  background-color: #835fa8;
  width: 50%;
  box-sizing: border-box;
  padding: 90px 210px 115px;
}

#section-6 .purple p:first-child {
  color: #ffffff;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 25px;
  font-style: italic;
  font-weight: 300;
}

#section-6 .purple img {
  display: block;
  float: left;
  margin-right: 20px;
}

#section-6 .purple p {
  display: block;
  float: left;
  color: #ffffff;
  line-height: 59px;
}

footer {
  background-color: #1a2124;
  font-size: 13px;
  color: #f6f7fa;
  padding: 100px 210px;
}

footer #left {
  width: 40%;
  float: left;
}

footer #left .main {
  line-height: 24px;
  margin-bottom: 60px;
}

footer p:first-child {
  font-weight: 600;
  margin-bottom: 30px;
}

footer ul {
  display: block;
  float: left;
  width: 33%;
  box-sizing: border-box;
  line-height: 24px;
}

footer ul li:first-child {
  font-weight: 600;
  margin-bottom: 25px;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

footer #right {
  float: left;
  width: 40%;
  margin-left: 100px;
}

footer #right input {
  display: block;
  float: left;
  width: 400px;
  height: 58px;
  /*border-radius: 2px;*/
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: none;
  outline: none;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 16px;
}

.checkmark {
  display: block;
  float: left;
  background-color: #835fa8;
  height: 58px;
  width: 70px;
  border: none;
  outline: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.checkmark::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  color: #ffffff;
  font-size: 20px;
}

footer #right p:last-child {
  margin-top: 20px;
  line-height: 18px;
}


/*Mediaqueries*/


/*https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/

@media screen and (max-width: 1150px) {
  #section-1 {
    background-color: yellow;
  }
}

@media screen and (min-width: 1180px) {
  #section-1 {
    background-color: pink;
  }
}

@media screen and (max-width: 500px) {
  #intro h1 {
    display: none;
  }
}
